langgraph>=1.0.4
langchain>=1.0.8
ag-ui-langgraph==0.0.22
pydantic>=2.12.4
fastapi>=0.121.1
numpy>=1.23.0
pandas>=1.5.0
polars>=1.5.0
cryptography
pycryptodome
pymysql
memory_profiler
line_profiler
DBUtils==1.3